<%- include("../user/partial/userheader2.ejs") %>

 
  
                                        <div class="error-content text-center">
                                            <div class="container">
                                                <h1 class="error-title"></h1>
                                                <!-- End .error-title -->
                                                <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Please add a valid address for place order!</h5>
                                                <a href="/addAddress" class="btn btn-outline-primary-2 btn-minwidth-lg">
                                                    <span>Add addresss</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>

   

<%- include("../user/partial/userfooter.ejs") %>