<!DOCTYPE html>
<html lang="en">


<!-- molla/index-5.html  22 Nov 2019 09:55:58 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VARLET</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userassets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userassets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userassets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userassets/images/icons/site.html">
    <link rel="mask-icon" href="/userassets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userassets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userassets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userassets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userassets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/userassets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/userassets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userassets/css/style.css">
    <link rel="stylesheet" href="/userassets/css/skins/skin-demo-5.css">
    <link rel="stylesheet" href="/userassets/css/demos/demo-5.css">

    <!-- ///////////////////////////////////////// -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>

    <!-- ///////////////////////////////////////////// -->
    
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-5">
            <div class="header-middle sticky-header">
                <div class="container-fluid">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/home" class="logo">
                            <span style="color: rgb(255, 255, 255);font-family: 'Courier New', Courier, monospace;"><b>VAR</b></span><h2 style="color: rgb(255, 255, 255); font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><b>LET</b></h2>
                            <!-- <img src="/userassets/images/demos/demo-5/logo.png" alt="Molla Logo" width="105" height="25"> -->
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li>
                                    <a href="/home">Home</a>
                                </li>
                                <li>
                                    <a href="../shop" >Shop</a>
                                 </li>
                                   
                                    
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="search" id="q" placeholder="Search in..." required>
                                    <button class="btn btn-primary" type="submit" value="search"><i class="icon-search"></i></button>
                                </div>    
                            </form>
                        </div> 
                        
                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                        </a>
                        <a href="../profile" class="wishlist-link" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-user"></i>
                        </a>
                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                
                                <div class="dropdown-cart-action">
                                    <a href="./cart" class="btn btn-primary">View Cart</a>
                                    <a href="./checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                            
                        </div><!-- End .cart-dropdown -->
                        
                    </div><!-- End .header-right -->
   
                </div><!-- End .container-fluid -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>